{% extends "base.html" %}

{% block content %}
    <h2>Compete in a series of 9 AI games and get your name on the LEADERBOARD OF GLORY ♛</h2>
    <ul class="game-list">
        <li>
            <a href="{{ url_for('TicTacToe') }}">
                <img src="{{ url_for('static', filename='images/tictactoe.png') }}" alt="TicTacToe Image">
                <span>TicTacToe</span>
            </a>
        </li>
        <li>
            <a href="{{ url_for('Breakout') }}">
                <img src="{{ url_for('static', filename='images/breakout.png') }}" alt="Breakout Image">
                <span>Breakout</span>
            </a>
        </li>
        <!-- Add more game links as needed -->
    </ul>
{% endblock %}